
  <div class ="grid grid-cols-1 gap-4" >
{% for movie in movies %}

  
  <h2>{{ movie.title }}</h2>

    <h5 class="card-title">{{ movie.popularity}}</h5>
  {% for block in movie.overview %}
      <p>{{ block.children[0].text }}</p>
  {% endfor %}
</div>




{% endfor %}

</div>
