---
title: Blogs Main Page
layout: mylayout
data: posts.result

---


<div class ="w-50 bg-dark m-2" >
{% for  blog in post.result %}
<div class = "card -">


<h1 class ="card-title" >{{blog.title }} </h1>
<p> {{ blog.summary }} </p>
<p> published on {{blog.date}} </p>
<a href="/blog/{{loop.index}}">Read {{ blog.title}} </a>
{% endfor %}

</div>


</div>


<script>
  console.log(JSON.stringify({{ post.result | dump | safe }}));

</script>


